
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ STATIC_URL }}assets/img/icons/favicon.png">

    <title>LinkedResuma</title>
  </head>

  <body>
  <div>
    {% block content %}
    {% endblock %}
  </div> 
  </body>
  
   <footer>
        <p>&copy; PyMa 2015</p>
   </footer>
</html>
