{% extends "base.html" %}

{% block content %}
<body class="home">
	<!-- Fixed navbar -->
	{% include "nav.html" %}
	<!-- /.navbar -->


    <header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">START, GO, RUN</h1>
				<p class="tagline">TEAM RUNNER : free social running together </p>
				<p><a class="btn btn-default btn-lg" role="button">TEAMS</a> 
				<a class="btn btn-default btn-lg" role="button">PARTNERS</a>
				<a class="btn btn-default btn-lg" role="button">COACHS</a>
				<a class="btn btn-action btn-lg" role="button">SEARCHE</a>
				   </p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	
</body>
{% endblock  %}



{% block footer %}
{% include "footer.html" %}
{% endblock %}




















</html>