{% extends "base.html" %}

{% block header %}
	{% include "nav.html" %}
{% endblock %}

{% block content %}

<body class="home">
<div class="jumbotron">
   <div class="page-header">
          <h1> START, GO, RUN</h1>
          <p> TEAM RUNNER : free social running together </p>
      <form class="form-inline">
              <div class="form-group">
                   <label for="level">Level</label>
                   <input type="text" class="form-control" id="leve" placeholder="starts">
              </div>
              <div class="form-group">
                   <label for="area">Area</label>
                   <input type="email" class="form-control" id="area" placeholder="Tal-Aviv">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
      </form>
   </div>     
</div>
	
<div class="container">
	
	{% for enter in entries %}
   
       <div class="col-md-6 col-sm-6 highlight">
             <div class="panel panel-primary">
                   <div class="panel-heading">{{ enter.coach_city|truncatewords:"100" }} - 
                   {{ enter.coach_name|truncatewords:"100" }}
                   </div>
                   <div class="panel-heading"><img src="{{ STATIC_URL }}assets/pic/5.jpg" style="width:104px;height:128px;" class="img-circle"></div>
                   <div class="panel-body">{{ enter.coach_description|truncatewords:"300" }}</div>
                   <ul class="list-group">
                       <li class="list-group-item">
                           <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
                                   {{ enter.coach_mail }}</li>
                       <li class="list-group-item">
                           <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 
                           {{ enter.coach_callnumber }}</li>
                       <li class="list-group-item">FACEBOOK {{ enter.coach_linkfb }}</li>
                       <li class="list-group-item">TWITTER {{ enter.coach_linktw }}</li>
                    </ul>
                   
                   
            </div>
       </div>
   
    {% endfor %}

</div>

{{entries}}
	
<!-- - 
  <p>
        <div class="col-md-4 col-sm-6 highlight">
             <div class="panel panel-primary">
                   <div class="panel-heading">Panel with panel-primary class</div>
                   <div class="panel-body">Panel Content</div>
            </div>
       </div>
       <div class="col-md-4 col-sm-6 highlight">
            <div class="panel panel-primary">
                 <div class="panel-heading">Panel with panel-primary class</div> 
                 <div class="panel-body">Panel Content</div>   
            </div>
      </div>
      <div class="col-md-4 col-sm-6 highlight">
           <div class="panel panel-primary">
                <div class="panel-heading">Panel with panel-primary class</div> 
                <div class="panel-body">Panel Content</div>   
           </div>
      </div>
 </p>
 
   </div>
   
 </div>

	-->	
<aside class="rows sidebar sidebar-right"></aside>
</body>
{% endblock  %}
</html>