{% extends "base.html" %}

{% block header %}
	{% include "nav.html" %}
{% endblock %}




{% block content %}

<div class="jumbotron">
  <div class="page-header">
    <h1 class="lead">START, GO, RUN</h1>
    <p> TEAM RUNNER : free social running together </p>
     
      <form class="form-inline">
              <div class="form-group">
                   <label for="level">Level</label>
                   <input type="text" class="form-control" id="leve" placeholder="starts">
              </div>
              <div class="form-group">
                   <label for="area">Area</label>
                   <input type="email" class="form-control" id="area" placeholder="Tal-Aviv">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>
</div>


<div class="container">
<div class="row">
<div class="col-md-6 col-sm-4 highlight">
    <div class="thumbnail">
      <img src="{{ STATIC_URL }}assets/pic/group_1.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p>
        <a href="#" class="btn btn-primary" role="button">Button</a> 
        <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>
        <div class="thumbnail">
      <img src="{{ STATIC_URL }}assets/pic/group_1.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    
        <div class="thumbnail">
      <img src="{{ STATIC_URL }}assets/pic/group_1.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    
        <div class="thumbnail">
      <img src="{{ STATIC_URL }}assets/pic/group_1.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>






{% endblock  %}



{% block footer %}
{% include "footer.html" %}
{% endblock %}




















</html>