{% extends "base.html" %}

{% block header %}

  {% include "nav.html" %}


{% endblock %}


{% block content %}

<body data-spy="scroll" data-offset="0" data-target="#nav">

	
<div class="page-header">
   <img src="{{ STATIC_URL }}assets/images/main.jpg" class="img-responsive"  alt="run in group" >
    <h1> START, GO, RUN</h1>
    <p> TEAM RUNNER : free social running together </p>
      <form class="form-inline">
              <div class="form-group">
                   <label for="level">Level</label>
                   <input type="text" class="form-control" id="leve" placeholder="starts">
              </div>
              <div class="form-group">
                   <label for="area">Area</label>
                   <input type="email" class="form-control" id="area" placeholder="Tal-Aviv">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>




<div class="container-fluid">

                <p> 
                
					<a href="{% url 'partners' %}">
					   <img src="{{ STATIC_URL }}assets/images/PARTNER.jpg" alt="run in group">
					</a>						
               </p>

                <p> 
					<a href="{% url 'coach' %}">
					   <img src="{{ STATIC_URL }}assets/images/COACHS.jpg" alt="run in group">
					</a>
					
				 </p> 					
                  <p>
					<a href="{% url 'groups' %}">
					   <img src="{{ STATIC_URL }}assets/images/TEAMS.jpg" alt="run in group">
					</a>	
					</p>
				
				 <p> 
					<a href="{% url 'partners' %}">
					   <img src="{{ STATIC_URL }}assets/images/SHARE.jpg" alt="run in group">
					</a>	
				 </p>	
</div>	




</body>
{% endblock %}

<footer>
  {% block footer %}
  {% include "footer.html" %}
  {% endblock %}
</footer>

<!--ofer check if need     JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/headroom.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/jQuery.headroom.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/template.js"></script>



